@import '../../globals-fonts/globals-fonts.scss';

.itemNews {
    width: 350px;
    height: 290px;
    background-color: green;
    font-family: 'Proxima Nova Regular';
    font-style: normal;
    font-weight: normal;
    font-size: 25px;

    /* black main color */
    color: #333D51;

    overflow: hidden;
}