.header {
    /* Rectangle 7 */


    width: 1920px;
    height: 120px;
    left: 0px;
    top: 0px;

    background: #FFFFFF;
}

.header img {
    width: 400px;
}

.menuItems {
    /* меню */


    /* Auto Layout */

    display: flex;
    flex-direction: row;
    padding: 0px;

    position: absolute;
    width: 284px;
    height: 22px;
    left: 1231px;
    top: 49px;
}

.reporter {
    /* Новостник */

    width: 128px;
    height: 30px;
    left: 405px;
    top: 45px;

    font-family: Proxima Nova;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 30px;
    /* identical to box height, or 120% */


    /* black main color */

    color: #333D51;
}

.menuItems .main {
    /* Главная */

    width: 67px;
    height: 22px;
    left: 0px;
    top: 0px;

    font-family: Proxima Nova;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */


    /* main color accent */

    color: #004FEC;

    /* Inside Auto Layout */

    flex: none;
    order: 0;
    align-self: center;
    margin: 35px 0px;
}

.menuItems .news {
    width: 70px;
    height: 22px;
    left: 102px;
    top: 0px;

    font-family: Proxima Nova;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */


    /* black main color */

    color: #333D51;

    /* Inside Auto Layout */

    flex: none;
    order: 1;
    align-self: center;
    margin: 35px 0px;
}

.menuItems .contact {
    /* Контакты */


    position: static;
    width: 77px;
    height: 22px;
    left: 207px;
    top: 0px;

    font-family: Proxima Nova;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */


    /* black main color */

    color: #333D51;

    /* Inside Auto Layout */

    flex: none;
    order: 2;
    align-self: center;
    margin: 35px 0px;
}