@import '../../globals-fonts/globals-fonts.scss';

.info {
  padding: 45px 0;
  display: flex;
  align-items: center;

  .infoList {
    font-family: 'Proxima Nova Regular';
    font-size: 25px;
    line-height: 30px;
    color: $color-black;
    font-style: normal;
    font-weight: normal;

    .phone {
      font-size: 60px;
      line-height: 93%;
      color: #004FEC;
    }

    .fio {
      font-size: 25px;
      line-height: 30px;
    }

    .email {
      font-size: 20px;
      line-height: 24px;
      color: #333D51;
    }

    .description {
      font-size: 20px;
      line-height: 24px;
      color: rgba(51, 61, 81, 0.5);
    }

    .skill {
      font-size: 20px;
      line-height: 24px;
      color: #333D51;
    }

  }


  .photo {
    height: 340px;
    //width: 540px;
  }

}
