@import '../../globals-fonts/globals-fonts.scss';

.info {
  font-family: 'Proxima Nova Regular';
  padding: 45px 0;
  display: flex;

  .infoList {
    font-size: 25px;
    //line-height: 30px;
    color: $color-black;
    font-weight: normal;

    padding-bottom: 25px;

    .phone {
      font-size: 60px;
      color: #004FEC;
      padding-bottom: inherit;
    }

    .fio {
      font-size: 25px;
      //padding-bottom: inherit;
      padding-left: 15px;
      border-left: 2px solid #004FEC;
    }

    .email {
      font-size: 20px;
      color: #333D51;
      padding-top: 20px;
      padding-bottom: inherit;
    }

    .description {
      font-size: 20px;
      color: rgba(51, 61, 81, 0.5);
      padding-top: 20px;
      padding-bottom: inherit;
    }

    .skill {
      font-size: 20px;
      color: #333D51;
      padding-bottom: inherit;

      .perfectSkill {
        color: #004fec;
      }
    }

  }

  .photo {
    height: 340px;
    margin-left: auto;
  }

}
